<% unless cart.line_items.empty? %>
<div class="cart_title"> Your Cart </div>
<table>
  <%= render(cart.line_items) %>
    <tr class="total_line">
      <td colspan="2">Total</td>
      <td class="total_cell">
        <%= number_to_currency(@cart.total_price) %>
      </td>
    </tr>
</table>
<div class="cart_buttons">
<%= button_to new_order_path, class: "button button-border button-padding", method: :get do %>
  <i class="glyphicon glyphicon-shopping-cart"></i> Checkout
  <% end %>
<%= button_to @cart, class: "button button-border button-padding", method: :delete,
    data: {confirm: 'Are you sure?'} do %>
  <i class="glyphicon glyphicon-trash"></i> Empty Cart
  <% end %>
<% end %>
</div>