
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Editing Product<h3>
      </div>
      <div class="panel-body">
      	<%= render 'form' %>
     </div>
     <div class="panel-footer">
          <%= link_to product_path, class: "button button-border" do%>
          <i class="glyphicon glyphicon-hand-left"></i> Back
          <% end %>
          <%= link_to  products_path, class: "btn btn-success" do%>
          <i class="glyphicon glyphicon-cog"></i> Show
          <% end %>
        </div>
 </div>
</div>
</div>
